@page "/references"
@using CompService.Core.Services

@inject UserInfoHolder UserInfoHolder;
@inject NavigationManager NavigationManager;

@if (UserInfoHolder.CurrentUser is null)
{
    <h1>Недостаточно прав</h1>
    return;
}

<MudTable Items="@_elements" T="string" OnRowClick="RowClickEvent" Filter="new Func<string, bool>(FilterFunc1)" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Справочники</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="_searchString" Placeholder="Поиск" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
<HeaderContent>
    <MudTh>Название</MudTh>
</HeaderContent>
<RowTemplate>
    <MudTd DataLabel="Название">
        <MudText>@context</MudText>
    </MudTd>
</RowTemplate>
</MudTable>
@code {
    string _searchString = "";
    private readonly IEnumerable<string> _elements = new List<string>(){
        "Источники",
        "Неисправности",
        "Бренды",
        "Внешний вид",
        "Тип устройства"
    };

    private bool FilterFunc1(string element) => FilterFunc(element, _searchString);
    
        private bool FilterFunc(string element, string? searchingString)
        {
            if (string.IsNullOrWhiteSpace(searchingString))
                return true;
            if (element.Contains(searchingString, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }

    private void RowClickEvent(TableRowClickEventArgs<string> tableRowClickEventArgs)
    {
        switch (tableRowClickEventArgs.Item)
        {
            case "Источники":
                NavigationManager.NavigateTo("/sources");
                break;
            case "Неисправности":
                NavigationManager.NavigateTo("/defects");
                break;
            case "Бренды":
                NavigationManager.NavigateTo("/brands");
                break;
            case "Внешний вид":
                NavigationManager.NavigateTo("/appearances");
                break;
            case "Тип устройства":
                NavigationManager.NavigateTo("/devTypes");
                break;
        }
    }
}