@page "/sources"

@using CompService.Core.Models
@using CompService.Core.Services
@using CompService.Client.Windows
@using CompService.Core.Enums

@inject UserInfoHolder UserInfoHolder;
@inject ISnackbar Snackbar;
@inject IDialogService DialogService;
@inject IReferenceService<Source> ReferenceService;

@if (UserInfoHolder.CurrentUser is null)
{
    <h1>Недостаточно прав</h1>
    return;
}
@if (UserInfoHolder.CurrentUser is not null && UserInfoHolder.CurrentUser.Roles != Roles.Administrator)
{
    <h1>Недостаточно прав</h1>
    return;
}

<PageTitle>Справочник.Источники</PageTitle>

<MudTable Items="@_sources" T="Source" OnRowClick="RowClickEvent" Filter="new Func<Source, bool>(FilterFunc1)" Hover="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Источники</MudText>
        <MudSpacer/>
        <MudTextField @bind-Value="_searchString" Placeholder="Поиск" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Название</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Название">
            <MudText>@context.Name</MudText>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudFab Style="position: fixed; bottom: 0; right: 0; margin: 35px 25px;" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" OnClick="async () => await OpenWindow()"/>

@code {
    private List<Source>? _sources;
    string _searchString = "";

    protected override async Task OnInitializedAsync()
    {
        _sources = (await ReferenceService.GetAllValuesAsync()).ToList();
        await base.OnInitializedAsync();
    }
    
    private async Task OpenWindow()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions {CloseOnEscapeKey = true};
        DialogParameters parameters = new DialogParameters
        {
            {"SelectedReferenceName", null},
            {"SelectedReference", null}
        };
        var dialog = await DialogService.ShowAsync<ReferenceWindow<Source>>("Новая запись",parameters, closeOnEscapeKey);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            _sources = (await ReferenceService.GetAllValuesAsync()).ToList();
            StateHasChanged();
        }
    }

    private bool FilterFunc1(Source element) => FilterFunc(element, _searchString);
    
    private bool FilterFunc(Source element, string? searchingString)
    {
        if (string.IsNullOrWhiteSpace(searchingString))
            return true;
        if (element.Name.Contains(searchingString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private async void RowClickEvent(TableRowClickEventArgs<Source> tableRowClickEventArgs)
    {
        DialogOptions closeOnEscapeKey = new DialogOptions {CloseOnEscapeKey = true};
        DialogParameters parameters;
        
        parameters = new DialogParameters
        {
            {"SelectedReferenceName", tableRowClickEventArgs.Item.Name},
            {"SelectedReference", tableRowClickEventArgs.Item}
        };
        var dialog = await DialogService.ShowAsync<ReferenceWindow<Source>>("",
            parameters, closeOnEscapeKey);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            _sources = (await ReferenceService.GetAllValuesAsync()).ToList();
            Snackbar.Add("Успешно", Severity.Success);
            StateHasChanged();
        }
    }
}